{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-lg-8- offset-lg-2">
            <div class="card-body">

                <h1>Ingresar</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Ingresar" class="btn btn-primary>">
                
                </form>
                 

            </div>
        </div>
    </div>
</div>


<br>


{% endblock %}