{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}



<br>
<h5>COMO GRUPO HUMANO</h5>
<p>Somos una empresa que, a través de nuestra gestión innovadora, marcamos la diferencia.

    La esencia de Lozada Viajes reside en ser un lugar para el desarrollo humano, donde las personas que colaboran en la empresa son lo más valioso; por eso es nuestro afán de trabajar en un ambiente inspirador, valorando la diversidad, el continuo aprendizaje y donde se fomente la fraternidad, la libertad, el coraje y la confianza.</p>
    <h5>COMO PROFESIONALES</h5>
    <p>Brindamos un servicio cálido, cómodo, personalizado, con estándares de calidad ISO 9001 y productos turísticos que satisfacen las expectativas de los viajeros. </p>
    <br>
    <h5>VISIÓN</h5>
    <br>
    <p>Ser la empresa de viajes más inspiradora y querida de la Argentina.</p>
    <h5>MISIÓN</h5>
<p>Facilitar el desarrollo de las personas a través del mundo de los viajes, creando valor y crecimiento para los socios franquiciados, dedicando servicios excelentes y con calor humano a los viajeros; despertando formas innovadoras y vanguardistas en la gestión.></p>
<br>
<h5>VALORES</h5>
<p>Calidad, calidez, creatividad, integridad, maestría en el hacer, relaciones asociativas.</p>







{% endblock %}